{% block html_head_container %}

{% include 'html-head.twig' %}

{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

		<header class="siteHeader" >

			{% block header %}
				<h1 class="siteHeader__logo">
          <a href="{{site.url}}" rel="home" alt="{{site.name}}">
      			Here the svg logo
          </a>
        </h1>
			{% endblock %}

		</header>

		<!-- needs #content in order to skip here -->
    <main id="content" role="main" class="siteMain">

			{% block content %}
				{{ post.content }}
			{% endblock %}

		</main>

		{% block footer %}

			<footer id="footer" class="siteFooter">
				{% include 'footer.twig' %}
			</footer>

			{{ function('wp_footer') }}
		{% endblock %}

	</body>
</html>
